h1 {
  display: inline;
  position: relative;
  font: 200px "Raleway", sans-serif;
  letter-spacing: -5px;
  color: rgba(206, 2, 53, 0.8); }
  h1:after {
    content: "Hello";
    position: absolute;
    left: 10px;
    top: 5px;
    color: rgba(0, 132, 180, 0.8); }

body {
  background-color: #ffffff; }

.categories .productbox {
  background-color: #efefef;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 20vh; }
  .categories .productbox:hover {
    background-color: #232F3E;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
    color: #ffffff; }

.productbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #CE0234;
  font-size: 1.6rem; }
  .productbox:hover {
    color: #ffffff; }
