body {
  background-color: #ffffff; }

.categories .productbox {
  background-color: #efefef;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 20vh; }
  .categories .productbox:hover {
    background-color: #232F3E;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s;
    color: #ffffff; }

.productbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #CE0234;
  font-size: 1.6rem; }
  .productbox:hover {
    color: #ffffff; }
