.body {
  font-family: "Roboto", sans-serif; }

.container-perso {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px; }

h5 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem; }

.navbar {
  background-color: #232F3E; }
  .navbar a {
    border: 1px solid transparent;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
    .navbar a:hover {
      border: 1px solid #CE0234;
      -webkit-transition: ease 0.3s;
      -o-transition: ease 0.3s;
      transition: ease 0.3s; }

.logo {
  width: 80px;
  height: 80px; }

.form-control {
  border-radius: 0px; }
  .form-control:focus {
    color: #555;
    background-color: #fff;
    border-color: #CE0234;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25); }

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  margin: 10px; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #CE0234; }

.btn-outline-primary {
  color: #CE0234;
  background-color: transparent;
  background-image: none;
  border-color: #CE0234;
  border-radius: 0px; }
  .btn-outline-primary:hover {
    color: #ffffff;
    border-color: #CE0234;
    background-color: #CE0234; }

.nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem; }

.dropdown-menu.show {
  background-color: #DBDBDB;
  opacity: 0.95;
  width: 250px; }
  .dropdown-menu.show .dropdown-item {
    opacity: 1; }
    .dropdown-menu.show .dropdown-item:hover {
      background-color: #232F3E;
      color: #ffffff; }

.resize-input {
  height: 30px;
  width: 350px; }

.footer {
  width: 100%;
  height: auto;
  line-height: 60px;
  background-color: #232F3E; }

.text-bar {
  height: 50px;
  background-color: #38475A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.return-top {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: white;
  width: 100%;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }
  .return-top:hover {
    color: white;
    text-decoration: none;
    background-color: #4F5E72;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px; }
  .about-us a {
    margin-top: -15px;
    margin-bottom: -15px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s; }
    .about-us a:hover {
      color: #CE0234;
      -webkit-transition: ease .3s;
      -o-transition: ease .3s;
      transition: ease .3s;
      text-decoration: none; }

.sellout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px; }
  .sellout a {
    margin-top: -15px;
    margin-bottom: -15px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s; }
    .sellout a:hover {
      color: #CE0234;
      -webkit-transition: ease .3s;
      -o-transition: ease .3s;
      transition: ease .3s;
      text-decoration: none; }

.howtopay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px; }
  .howtopay a {
    margin-top: -15px;
    margin-bottom: -15px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s; }
    .howtopay a:hover {
      color: #CE0234;
      -webkit-transition: ease .3s;
      -o-transition: ease .3s;
      transition: ease .3s;
      text-decoration: none; }

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px; }
  .help a {
    margin-top: -15px;
    margin-bottom: -15px;
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: ease .3s;
    -o-transition: ease .3s;
    transition: ease .3s; }
    .help a:hover {
      color: #CE0234;
      text-decoration: none;
      -webkit-transition: ease .3s;
      -o-transition: ease .3s;
      transition: ease .3s; }
