// Variables fonts, colors and sizing

//Colors
$blue: #0084b4;
$rgbaBlue: rgba(0, 132, 180, 1);
$midblue: #38475A;
$darkblue: #232F3E;
$lightBlue: #c0deed;
$rgbaLightBlue: rgba(192, 222, 237, 1);
$grey: #9B9B9B;
$rgbaGrey: rgba(155, 155, 155, 1);
$lightGrey: #DBDBDB;
$rgbaLightGrey: rgba(219, 219, 219, 1);
$white: #ffffff;
$rgbaWhite: rgba(255, 255, 255, 1);

//Fonts
$titleFont: 'Raleway', sans-serif;
$textFont: 'Roboto', sans-serif;
// $titleThin
// $titleFat
// $textThin
// $textFat

.body {
    font-family: $textFont;
}

h5 {
    color: $white;
    font-family: $titleFont;
    font-size: 1.2rem;
}

//NAVBAR -----------------------------------
.navbar {
    background-color: $darkblue;
}

.nav-link {
    font-family: $titleFont;
    font-size: 0.9rem;
}

.dropdown-menu.show {
    background-color: $lightGrey;
    opacity: 0.95;
    width: 250px;

    .dropdown-item {
        opacity: 1;

        &:hover {
            background-color: $darkblue;
            color: $white;
        }
    }
}

.resize-input {
    height: 30px;
    width: 350px;
}

//FOOTER -----------------------------------
.footer {
    width: 100%;
    height: auto;
    line-height: 60px;
    background-color: $darkblue;
}

.text-bar {
    height:50px;
    background-color: $midblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
}

.return-top {
    font-family: $textFont;
    font-size: 0.9rem;
    color: rgba(255,255,255,1);
    width: 100%;
    transition: ease 0.3s;

    &:hover {
        color: rgba(255,255,255,1);
        text-decoration: none;
        background-color: #4F5E72;
        transition: ease 0.3s;
    }
}

.container-footer {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

.about-us {
    display:flex;
    flex-direction:column;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
        margin-top: -15px;
        margin-bottom: -15px;
        font-family: $textFont;
        font-size: 0.9rem;
        color: rgba(255,255,255,.5);

        &:hover {
            color: rgba(255,255,255,0.8);
        }
    }
}

.sellout {
    display:flex;
    flex-direction:column;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
        margin-top: -15px;
        margin-bottom: -15px;
        font-family: $textFont;
        font-size: 0.9rem;
        color: rgba(255,255,255,.5);

        &:hover {
            color: rgba(255,255,255,0.8);
        }
    }
}

.howtopay {
    display:flex;
    flex-direction:column;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
        margin-top: -15px;
        margin-bottom: -15px;
        font-family: $textFont;
        font-size: 0.9rem;
        color: rgba(255,255,255,.5);

        &:hover {
            color: rgba(255,255,255,0.8);
        }
    }
}

.help {
    display:flex;
    flex-direction:column;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
        margin-top: -15px;
        margin-bottom: -15px;
        font-family: $textFont;
        font-size: 0.9rem;
        color: rgba(255,255,255,.5);

        &:hover {
            color: rgba(255,255,255,0.8);
        }
    }
}