body {
  font-family: "Roboto", sans-serif;
}

.profilebox {
  margin: auto;
  width: 80%;
  margin-top: 20px;
  padding: 40px 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #232F3E;
}

.profilebox h3 {
  color: #bd081c;
  margin-bottom: 20px;
}

.profilebox h4 {
  color: #bd081c;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profilebox p {
  color: whitesmoke;
}

.btn-primary {
  background-color: #CE0234;
  border-color: #CE0234;
}

.btn-primary:hover {
  background-color: #A6002A;
  border-color: #A6002A;
}

.btn-primary:active {
  background-color: #A6002A;
  border-color: #A6002A;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
}

.btn-primary:focus {
  background-color: #A6002A;
  border-color: #A6002A;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #CE0234;
  border-color: #CE0234;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
}

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
}

.form-control:focus {
  border-color: #CE0234;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 2, 53, 0.25);
}