{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/payment.css') }}" />
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <form action="#" method="post">
            <img src="" alt="" height="" width="" />

            <div class="textName container">
                <p>Nom du titulaire de la carte :</p>
            </div>

            <div class="container">
                <input type="text" name="name" placeholder="John Doe" id="name" class="form-control" />
            </div>

            <div class="textCc container">
                <p>Numéro de la carte :<span class="textCcv">Code de sécurité :</span></p>
            </div>

            <div class="container">
                <input type="text" name="ccNumber" placeholder="4854 5178 9101 4128" id="ccNumber" class="form-control" />
                <input type="text" name="ccv" placeholder="492" id="ccv" class="form-control" />
            </div>

            <div class="textExpiration container">
                <p>Date d'expiration</p>
            </div>

            <div class=" col-lg-4" id="expirationDate">
                <div class="test">
                    <select class="form-control">
                        <option value="janvier">Janvier</option>
                        <option value="fevrier">Février</option>
                        <option value="mars">Mars</option>
                        <option value="avril">Avril</option>
                        <option value="mai">Mai</option>
                        <option value="juin">Juin</option>
                        <option value="juillet">Juillet</option>
                        <option value="août">Août</option>
                        <option value="septembre">Septembre</option>
                        <option value="octobre">Octobre</option>
                        <option value="novembre">Novembre</option>
                        <option value="decembre">Décembre</option>
                    </select>

                    <select class="form-control" id="expirationDate">
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </div>
            </div>

            <div class="subBtn container">
                <input type="submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
