{% extends 'homepage/layout.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div id="welcome pcmr" class="pcmr">
        <h1 class="ntm" id="pcmr">Soldes d'été~~~~~~~~~~~~~~~~~~~~</h1>
    </div>
    <div class="divider">
    </div>
    <div class="background">
        <div class="container">
            <div class="box" id="mobo">
                Motherboards
            </div>

            <div class="box" id="proco">
                Processors
            </div>

            <div class="box" id="cg">
                Graphic Cards
            </div>

            <div class="box" id="case">
                Case
            </div>

            <div class="box" id="psu">
                Power supplies
            </div>

            <div class="box" id="ram">
                RAM
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}



{% block javascripts %}
    {{ parent() }}
{% endblock %}
