{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
  .productbox {
    margin: 10px 10px 10px 10px;
    padding: 20px 7px 20px 7px;
    text-align: center;
    border: 2px black solid;
    border-radius: 9px;
  }
  button {
    border-radius: 9px;
    margin: 15px 7px 7px 7px;
    padding: 5px 5px 5px 5px;
  }
</style>
{% endblock %}

{% block body %}
  <div id="quizbox">
  {% for categorie in categories %}
  <div class="productbox">
  <a href="{{ path('category', {'id': categorie.id}) }}">{{ categorie.name }}</a><br>
  </div>
  {% endfor %}<br>
{% endblock %}
