{{ form_start(form, {'attr': {'class': 'form-inline my-2 my-lg-0 form-test','action': path('search_bar_result')}}) }}

{{ form_widget(form.search, {'attr': {'class': 'form-control mr-sm-2 resize-input', 'style': 'border-radius: 0px 5px 5px 0px;', 'placeholder': 'Search', 'aria-label': 'Search'}}) }}

<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
	<i class="fas fa-search"></i>
</button>

{{ form_end(form) }}